.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #18ccec;
    padding: 1rem 0;
    margin: 1rem 0;
    width: 95%;
  }
  
  .cart-item h2 {
    
    margin: 0 0 0.5rem 0;
    color: #b7b7b7;
  }
  
  .summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-weight: bold;
    color: #d2d2d2;
  }
  
  .amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 925px) {
    .actions {
      flex-direction: row;
    }
  }
  
  .cart-item button {
    color: #18ccec;
    border: 1px solid #18ccec;
    width: 4rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin: 0.25rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    padding-top: 3px;
  }
  
  .cart-item button:hover,
  .cart-item button:active {
    background-color: #1dbbff;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
  }

  .cart-item button:hover{
    animation: zoom 200ms linear forwards;
  }

  @keyframes zoom {

    0%{ transform: scale(1); }
    75%{ transform: scale(1.15); }
    100%{ transform: scale(1); }
  }

  .description{
    width: 95%;
  }