.title_name{
    font-family: "Space mono", sans-serif;
    font-size: 3rem;
}

.skill_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.skill_item{
    border: 1px solid #28c6ed ;
    min-width: 200px;
    min-height: 350px;
    margin: 1rem;
    width: 45%;

}


.skill_item ul{
    list-style-type: none;
    margin: 1.5rem;
}
.skill_item li{
    font-size: 1.5rem;
    margin: 1rem;
}
.skill_item h3{

    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    
}

.skill_item img{

    height: 1rem;
    
}

@media (min-width:500px) and (max-width:950px) {
    .skill_item{
        width: 75%;
    }
    .title_name{
        font-size: 2.5rem;
    }
}

@media (max-width:500px) {
    .skill_item{
        width: 90%;
    }
    .title_name{
        font-size: 1.5rem;
        margin-left: 0;
    }
}

@media (max-width:470px) {
    .skill_item li{
        font-size: 1.2rem;
        margin: 1rem;
    }
    .skill_item ul{
        margin: 0.5rem;
    }
}
