.logo_butt {
    background-color: black;
    color: #28c6ed;
    border: none;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    display: inline;
    pointer-events: all;
    font-family: 'Josephine Sans', sans-serif;
    font-weight: 800;


}

.link_navbar{
    text-decoration: none;
    color: #0ccdfda2;
}

.link_navbar:hover{
    color: #28d4ff;
}

.navbarButtons{
    color: #0ccdfda2;
    padding: 12px;
    background-color: black; 
    cursor: pointer;
    font-size: 1.15rem;
    font-family: 'Space Mono', monospace;
    border: none;
}

.navbarButtons:hover{
    color:#28d4ff;
    
}
