.footer_mine{
    display: flex;
    align-items: center ;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 800px;
    width: 95%;
    margin: 2rem auto 1rem;
}

.footer{
    background-color: black;
    text-align: center;
    border-radius: 12px;
    border:1px solid #28c6ed;
    padding: 1.5rem;
    padding-top: 0.5rem;
    color: #28c6ed;
    margin: 1rem 3rem 2rem;
}

.footer_title{
    margin: 1rem;
}
.footer_title h2{
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
    border-bottom: 3px solid White;
}

.footer_mine a{
    text-decoration: none;
    color: #0f97b8;
    min-width: 30px;
    padding: 1rem;
    
}

.footer_mine a:hover{
    color: #2ed5ff;
    animation: zoom2 250ms linear forwards;
}

@keyframes zoom2 {
    0%{transform: scale(1);}
    75%{transform: scale(1.2);}
    100%{transform: scale(1.1);}
}

@media (max-width:700px)and (min-width:500px) {
    .footer_title h2 {
        font-size: 2.5rem;
        margin: 1rem;
    }
}

@media (max-width:500px){
    .footer_title h2 {
        font-size: 1.8rem;
    }
}

.footer:hover{
    animation: zoom 200ms linear forwards;

}
.about-me-container{
    overflow: hidden;
}

@keyframes zoom {
    0%{transform: scale(1); }
    100%{transform: scale(1.0125);
    }
}