.animation_gif_sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_bio {
    color: aliceblue;
    position: absolute;
    max-width: 1080px;
    margin: 0 auto;
}

.animation_start {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



.div-holder {
    display: flex;
    justify-content: center;
}

.div-holder h4 {
    color: #fff;
    z-index: 10;
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    border-right: .15em solid rgb(0, 94, 255);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 1s steps(30, end),
        blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(59, 155, 215);
    }
}

.small_intro {
    font-size: 3.8rem;
    line-height: 1.35;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}

.small_intro_hello {
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}

.animation_start.animate .move {
    transition-timing-function: ease-in;
    transition-duration: .4s;
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
}

.animation_start .animation_container {
    margin: auto;
    text-align: center;
    max-width: 1080px;
    padding: 0 5%;
}


.animation_start.deanimate .move {
    transition-timing-function: ease-out;
    transition-duration: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

#GIF_used {
    width: 100%;
    /* max-width: 1080px; */
    align-self: center;
    justify-content: center;
}

@media (max-width:500px) {
    .small_intro {
        font-size: 2rem;
    }

    .small_intro_hello {
        font-size: 1.5rem;
    }

    .typewriter h4 {
        font-size: 1rem;
    }
}

@media (max-width:700px)and (min-width:500px) {
    .small_intro {
        font-size: 3rem;
    }

    .small_intro_hello {
        font-size: 2rem;
    }
    .typewriter h4 {
        font-size: 1.2rem;
    }
}

.fade-in-image {
    animation: fadeIn 1s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.elementToFadeInAndOut {
    background-color: black;
    -webkit-animation: fadeinout 0.75s linear forwards;
    animation: fadeinout 0.75s linear forwards;

}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}